@model Web.Models.TakeAway

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <b>Detalles del pedido</b>
    </div>
    <div class="card-body"> 
        <form asp-action="Edit" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input asp-for="NumberOfProductos" type="hidden" id="numberOfProductos" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.ValidationError)</span>

            <div class="form-row">
                <h3>Productos del pedido</h3>
                <div id="ProductosContainer" class="form-group">
                    @Html.EditorFor(model => model.Productos, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group mt-2 col-md-6">
                    <label asp-for="MetodoPagoRefId" class="control-label">Método de pago</label>
                    <select asp-for="MetodoPagoRefId" class="form-control" asp-items="ViewBag.MetodoPagoRefId">
                        <option value="">Seleccione un método de pago</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group mt-2 col-md-6">
                    <label asp-for="PromocionRefId" class="control-label">Promociones</label>
                    <select asp-for="PromocionRefId" class="form-control" asp-items="ViewBag.PromocionRefId">
                        <option value="">Seleccione una promoción</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group mt-2 col-md-6">
                    <label asp-for="NombreCliente" class="control-label">Cliente</label>
                    <input asp-for="NombreCliente" class="form-control" />
                    <span asp-validation-for="NombreCliente" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group mt-2 col-md-6">
                    <label asp-for="HorarioEntrega" class="control-label"></label>
                    <input asp-for="HorarioEntrega" class="form-control" />
                    <span asp-validation-for="HorarioEntrega" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group mt-2 col-md-6">
                    <label asp-for="PrecioPedido" class="control-label">Precio del pedido</label>
                    <input asp-for="PrecioPedido" class="form-control" />
                    <span asp-validation-for="PrecioPedido" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group mt-2 col-md-6">
                    <label asp-for="FechaRegistro" class="control-label">Fecha de registro</label>
                    <input asp-for="FechaRegistro" class="form-control" />
                    <span asp-validation-for="FechaRegistro" class="text-danger"></span>
                </div>
            </div>

            <br>
            <div class="d-flex justify-content-center">
                &nbsp;<a class="btn btn-primary btn-volver" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>&nbsp;
                <a class="btn btn-info btn-volver" asp-action="Index">Volver</a>&nbsp;
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () { $('#form :input').attr("disabled", true); });
    </script>
}
