@model Web.Models.MetodoPago

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar método de pago</h1>

<h3>¿Está seguro que desea eliminar este método de pago?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Variación de pago
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VariaciónPago)
        </dd>
        <dt class = "col-sm-2">
            Monto de variación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoVariacion)
        </dd>
        <dt class = "col-sm-2">
            Fecha de registro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la tabla</a>
    </form>
</div>
