@model Web.Models.ProductosPedido
 </br>
<div class="form-row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group col-md-6">
        <select asp-for="ListaPrecioRefId" id="ListaPrecioRefId" class="form-control" asp-items="ViewBag.ListaPrecioRefId">
            <option value="">Seleccione un producto</option>
        </select>
        <span asp-validation-for="ListaPrecioRefId" class="text-danger"></span>
    </div>
</div>