@{
    ViewData["Title"] = "Home Page";
}

<body class="bg-image">
    <div class="text-center text-white" >
        <h1 style="font-weight: 500">BIENVENIDOS A RESTO BRK</h1>
        <p style="font-size: 1.2rem">"Probá la magia de la cocina que une a amigos y familia. Celebrá la vida con ricos platos y momentos inolvidables."</p>
    </div>
    <footer class="bg-transparent"></footer>
</body>