html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f9f1e5fc;
}

.bg-image {
    background: url('../../../../images/fondo.png') ;
    background-size: cover;
    background-position: center;
}

.bg-brown {
    --bs-bg-opacity:1;
    background-color: #d3ac70 !important;
}

th, td {
    border: 1px solid #000 !important;
}

table{
    text-align: center !important;
}

button {
    background-color: #d3ac70 !important;
    border-color: #d3ac70 !important;
}

input,.btn-volver{
    margin-bottom: 0.5rem !important;
}

