<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resto BRK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-brown box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/RestoBRKLogo.png" class="img-fluid img-max-height" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        @if (User.Identity != null && User.Identity.IsAuthenticated) 
                        {
                            <li class="nav-item dropdown custom-li-margin">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="comidasDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Comidas
                                </a>
                                <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="comidasDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Plato" asp-action="Index">Plato</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Disponibilidad" asp-action="Index">Disponibilidad</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="ClasificacionComida" asp-action="Index">Clasificación</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TipoComida" asp-action="Index">Tipo</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Porcion" asp-action="Index">Porción</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown custom-li-margin">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="bebidasDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Bebidas
                                </a>
                                <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="bebidasDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Bebida" asp-action="Index">Bebida</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="ClasificacionBebida" asp-action="Index">Clasificación</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Tamano" asp-action="Index">Tamaño</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TipoBebida" asp-action="Index">Tipo</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown custom-li-margin">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="pagosDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pagos
                                </a>
                                <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="pagosDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="MetodoPago" asp-action="Index">Métodos de pago</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="ListaPrecios" asp-action="Index">Lista de precios</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Promociones" asp-action="Index">Promociones</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown custom-li-margin">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="clientesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Clientes
                                </a>
                                <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="clientesDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Delivery" asp-action="Index">Delivery</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TakeAway" asp-action="Index">Take Away</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Mesas" asp-action="Index">Mesas</a>
                                </div>
                            </li>
                        } 
                    </ul>
                    <div class="ml-auto">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-brown">
        <div class="container text-center">
            &copy; 2023 - Copyright Resto BRK
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>